In [85]:
import pandas as pd
import os
from datetime import datetime
import matplotlib.pyplot as plt
import scipy.fftpack
import numpy as np

In [86]:
df = pd.read_csv('Bitfinex_BTCEUR_trades_''2018_02_02.csv')
print(df.head())

          id exchange  symbol           date       price    amount   sell
0  183601815       bf  btceur  1517529608000  7349.60000  0.004568  False
1  183601825       bf  btceur  1517529609000  7354.68045  0.010000   True
2  183601823       bf  btceur  1517529609000  7354.68045  0.004568   True
3  183601833       bf  btceur  1517529610000  7354.60000  0.102395  False
4  183601904       bf  btceur  1517529626000  7343.40750  0.086580  False

In [87]:
x=df['price']
print(x.head())

0    7349.60000
1    7354.68045
2    7354.68045
3    7354.60000
4    7343.40750
Name: price, dtype: float64

In [88]:
z=df['amount']
bitcoin_cost = x * z
print(bitcoin_cost.head())

df['bitcoin_cost'] = bitcoin_cost

0     33.572973
1     73.546804
2     33.596180
3    753.071840
4    635.792221
dtype: float64

In [89]:
from scipy.fftpack import fft, ifft
y = fft(x)
print(y)

[ 1.09136053e+08      +0.j          1.57601126e+06+1115943.48418676j
 -5.60395391e+05 -831023.52871301j ... -4.58709624e+04  +70302.00787675j
 -5.60395391e+05 +831023.52871301j  1.57601126e+06-1115943.48418676j]

In [90]:
df['fft_price'] = y

In [91]:
df.head()

,id,exchange,symbol,date,price,amount,sell,bitcoin_cost,fft_price
0,183601815,bf,btceur,1517529608000,7349.60000,0.004568,False,33.572973,(109136052.74640213+0j)
1,183601825,bf,btceur,1517529609000,7354.68045,0.010000,True,73.546804,(1576011.257286156+1115943.4841867601j)
2,183601823,bf,btceur,1517529609000,7354.68045,0.004568,True,33.596180,(-560395.3906116104-831023.5287130127j)
3,183601833,bf,btceur,1517529610000,7354.60000,0.102395,False,753.071840,(-45870.962430840504-70302.0078767483j)
4,183601904,bf,btceur,1517529626000,7343.40750,0.086580,False,635.792221,(44044.57494423142-679763.6959299095j)